<div class="stamp-edit-container">

    <%=link_to "戻る","/index" %>

    <div class="stamp-edit-form">
      <h2>時刻修正</h2>
      <%=form_tag("/stamp/#{@stamp.id}/update_pm_start")do %>
      午後開始時刻　<input type="time" name="pm_start" value="<%=@pm_start %>"><br>
      <input id="submit-btn" type="submit" value="更新">

      <%end%>
    </div>

</div>
